.aoa {
FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #274463; FONT-FAMILY: arial; TEXT-ALIGN: left
}
.titulo {
MARGIN-TOP: 5px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 18px; MARGIN-BOTTOM: 3px; PADDING-BOTTOM: 3px; MARGIN-LEFT: 10px; VERTICAL-ALIGN: middle; COLOR: #5d5d5d; BORDER-TOP-COLOR: #666666; TEXT-INDENT: 10pt; PADDING-TOP: 5px; BORDER-BOTTOM: #666666 1px dotted; FONT-STYLE: normal; FONT-FAMILY: arial; LETTER-SPACING: 5px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.titulopeq {
PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-BOTTOM: 10px; MARGIN: 10px; VERTICAL-ALIGN: top; COLOR: #666666; LINE-HEIGHT: normal; PADDING-TOP: 10px; FONT-STYLE: normal; FONT-FAMILY: arial;
TEXT-ALIGN: left; TEXT-DECORATION: none
}
.texto {
PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: normal; FONT-SIZE: 14px; PADDING-BOTTOM: 10px; MARGIN: 10px; VERTICAL-ALIGN: top; COLOR: #666666; LINE-HEIGHT: normal; PADDING-TOP: 10px; FONT-STYLE: normal; FONT-FAMILY: arial;
TEXT-ALIGN: left; TEXT-DECORATION: none
}
