<html>
	<meta http-equiv='Content-Type' content='text/html; charset=Windows-1252'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="/Administrativo/views/js/jquery-2.1.3.js"></script>
	<meta http-equiv='Content-Type' content='text/html; charset=Windows-1252'>
	<style>
			td{
				font-size: <?php echo $Tam_Fuente ?>; 
			}
	</style>
	<body>
		<div class='container'>
			<table width='90%' class='table_image' border cellspacing='0' align='center'>
				<tr>
					<td width='20%' rowspan=3 align='center' valign='middle'>
						<img src='http://app.aoacolombia.com/Administrativo/img/nlogo_aoa_200.jpg' border='0' class='print_image' height='50' width='110'>
					</td>
					<td align='center' rowspan=3 width='50%'><b style='font-size:16px'><?php echo utf8_encode($Tipo->nombre) ?></b></td>
					<td width='30%' style='font-size:12px'>CODIGO: <?php echo $Tipo->codigo ?></td>
				</tr>
				<tr>
					<td style='font-size:12px'>VERSION: <?php echo $Tipo->version ?></td>
				</tr>
				<tr>
					<td style='font-size:10px'>FECHA DE VIGENCIA: <?php echo $Tipo->fecha_version //echo date('Y/m/d'); ?> </td>
				</tr>
			</table>
			<table border='0' cellspacing='0' cellpadding='0' width='90%' align='center'>
				<tr>
					<td width='20%'></td>
					<td align='center' style='font-size:8px;' width='50%'>
						<span id='subtitle'>Consecutivo Interno Número</span>:<?php echo $Nconsecutivo ?></td>
					<td width='30%'></td>
				</tr>
			</table>
				<!--cabecera-->
			<link rel="stylesheet" href="/Administrativo/views/css/styles1.css">
				
				<table border cellspacing='0' width='51%' align='left'>
							<tr>
								<td width='508'  align='left'  onclick="make_visible(0)" ondblclick="make_invisible(0)"><strong>Fecha de Comité</strong><input class="date_input" id="einput0"  type="date"></td>
				  <th width='1'></td>  
				  </tr>
							<tr <td colspan='6'><table width='0' border='0'>
							  <tr>
								<td height='91'><table cellspacing='0' width='98%' align='left' border='1'>
								  <tr>
									<th width='225' bgcolor='#CCCCCC' scope='col'><span class='Estilo1'>AREA QUE SOLICITA LA COMPRA </span></th>
								  </tr>
								  <tr>
									<td height='45' class="writetd" contenteditable="true">&nbsp;</td>
								  </tr>
								</table></td>
								<td><table width='98%' height='62' border='1' align='left' cellspacing='0'>
								  <tr>
									<th width='296' bgcolor='#CCCCCC' scope='col'><span class='Estilo1'>TIPO DE COMPRA </span></th>
								  </tr>
								  <tr>
									<td><table width='296' border='0'>
										<tr>
										  <th width='64' scope='col'><span class='Estilo1'>BIENES</span></th>
										  <th width='63' scope='col'><table width='57%' border='1' align='left' cellspacing='0'>
											  <tr>
												<td width='37'><div style='text-align:center;'><input type='radio' name='tipo'></div></td>
											  </tr>
										  </table></th>
										  <th width='11' scope='col'>&nbsp;</th>
										  <th width='80' scope='col'><span class='Estilo1'>SERVICIOS</span></th>
										  <th width='56' scope='col'><table cellspacing='0' width='57%' align='left' border='1'>
											  <tr>
												<td width='37'><div style='text-align:center;'><input type='radio' name='tipo'></div></td>
											  </tr>
										  </table></th>
										</tr>
									</table></td>
								  </tr>
								</table></td>
							  </tr>
							</table>
							  </td>
							</tr>
							<tr <td colspan='6'><table cellspacing='0' width='100%' align='left' border='1'>
							  <tr>
								<th width='467' bgcolor='#CCCCCC' scope='col'><div align='left'><span class='Estilo1'>DESCRIPCION DE LA COMPRA O SERVICIO REQUERIDO </span></div></th>
							  </tr>
							  <tr>
								<td height='45' class="writetd" contenteditable="true"></td>
							  </tr>
							</table></td></tr>
							<tr>
								<td   align='left' colspan='6'>
								<table id="add_after_this" cellspacing='0' width='100%' align='left' border='1'>
								  <tr>
									<td width='78' bgcolor='#CCCCCC'>
										<span class='Estilo10'>PROVEEDOR 1 </span>								
									</td>
									<td width='87'><span class='Estilo4'>Razón Social y/o Nombre </span></td>
									<td colspan='4'>
										<input class="input_lists" onchange="look_proov_data(this,1)" id="prov1_lists" style="width:100%" list="proveedor1">
										<datalist id="proveedor1">
										 <?php foreach($proveedores as $prov){ ?>
												<option><?php echo utf8_decode($prov->nombre) ?></option>
										 <?php } ?>
										</datalist> 
									</td>
								  </tr>
								  <tr>
									<td><span class='Estilo1'><strong>NIT/C.C</strong></span></td>
									<td id="prov_1_cedula">&nbsp;</td>
									<td width='79'><span class='Estilo1'><strong>Actividad CIIU</strong></span></td>
									<td width='34' class="writetd" contenteditable="true">&nbsp;</td>
									<td width='82'><span class='Estilo1'><strong>Descripción</strong></span></td>
									<td width='127' class="writetd" contenteditable="true">&nbsp;</td>
								  </tr>
								  <tr>
									<td><span class='Estilo4'>Dirección</span></td>
									<td id="prov_1_direccion" colspan='2' class="writetd" contenteditable="true">&nbsp;</td>
									<td colspan='2'><div ><span class='Estilo4'>Ciudad</span></div></td>
									<td id="prov_1_ciudad" class="writetd" contenteditable="true">&nbsp;</td>
								  </tr>
								  <tr>
									<td><span class='Estilo4'>Contacto</span></td>
									<td colspan='2' id="prov_1_contacto" class="writetd" contenteditable="true">&nbsp;</td>
									<td colspan='2'><div ><span class='Estilo4'>Tel&eacute;fono</span></div></td>
									<td id="prov_1_telefono" class="writetd" contenteditable="true">&nbsp;</td>
								  </tr>
								  <tr>
									<td><span class='Estilo4'>Email</span></td>
									<td colspan='2' id="prov_1_email" class="writetd" contenteditable="true">&nbsp;</td>
									<td colspan='2'><div ><span class='Estilo4'>Celular</span></div></td>
									<td id="prov_1_celular" class="writetd" contenteditable="true">&nbsp;</td>
								  </tr>
								  <tr>
									 <td colspan='3' class='Estilo4'>Resultado calificación de evaluación proveedor</td>
									 <td colspan='3' contenteditable="true"></td>
								  </tr>
								  <tr>
									 <td colspan='3' class='Estilo4'>Requisión u orden de compra No.</td>
									 <td colspan='3' contenteditable="true"></td>
								  </tr>
								  <tr>
									 <td colspan='3' class='Estilo4'>Comentarios</td>
									 <td colspan='3' contenteditable="true"></td>
								  </tr>
								</table></td>
							</tr>
							
							 
				  <tr>
					<td   align='left' colspan='6'><p class='Estilo1'><br />
					  
					  <table cellspacing='0' width='99%' align='left' border='1'>
								<tr>
								  <th width='257' bgcolor='#CCCCCC' scope='col'><span class='Estilo4'>DOCUMENTOS SOPORTE </span></th>
								  <th width='24' bgcolor='#CCCCCC' scope='col'><span class='Estilo4'>SI</span></th>
								  <th width='26' bgcolor='#CCCCCC' scope='col'><span class='Estilo4'>NO</span></th>
								  <th width='184' bgcolor='#CCCCCC' scope='col'><span class='Estilo4'>COMENTARIOS</span></th>
								</tr>
								<tr>
								  <td><span class='Estilo1'>CUADRO COMPARATIVO </span></td>
								  <td><div style='text-align:center;'><input type="radio" name="cuadro_comparativo"></div></td>
								  <td><div style='text-align:center;'><input type="radio" name="cuadro_comparativo"></div></td>
								  <td class="writetd" contenteditable="true">&nbsp;</td>
								</tr>
								<tr>
								  <td><span class='Estilo1'>MUESTRAS</span></td>
								  <td><div style='text-align:center;'><input type="radio" name="muestras"></div></td>
								  <td><div style='text-align:center;'><input type="radio" name="muestras"></div></td>
								  <td class="writetd" contenteditable="true">&nbsp;</td>
								</tr>
								<tr>
								  <td><span class='Estilo1'>FORMATO DE CREACION DE PROVEEDORES </span></td>
								  <td><div style='text-align:center;'><input type="radio" name="formato"></div></td>
								  <td><div style='text-align:center;'><input type="radio" name="formato"></div></td>
								  <td class="writetd" contenteditable="true">&nbsp;</td>
								</tr>
					  </table></td><TR><TD><br />
					<table width='100%' height='404' border='1' align='left' cellspacing='0'>
								<tr>
								  <th colspan='10' bgcolor='#CCCCCC' scope='col'><div align='left'><span class='Estilo1'>APROBACION COMIT&Eacute; DE COMPRAS </span></div></th>
								</tr>
								<tr>
								  <td width='93'><span class='Estilo1'>PROVEEDOR SELECCIONADO </span></td>
								  <td colspan='9' class="writetd" contenteditable="true">&nbsp;</td>
								</tr>
								<tr>
								  <td><span class='Estilo1'>VALOR COMPRA APROBADO </span></td>
								  <td colspan='9' class="writetd" contenteditable="true">&nbsp;</td>
								</tr>
								<tr>
								  <td><span class='Estilo1'>FORMA DE PAGO </span></td>
								  <td colspan='9'><table width='300' border='0'>
									<tr>
									  <td width='65'><div ><span class='Estilo1'>CONTADO</span></div></td>
									  <td width='36'><table width='57%' border='1' align='left' cellspacing='0'><tr><td width='5' class='Estilo11'><div style='text-align:center;'><input type="radio" name="fpago"></div></td></tr></table></td>
									  <td><span class='Estilo1'>30 D&Iacute;AS </span></td>
									  <td width='34'><table width='57%' border='1' align='left' cellspacing='0'>
										<tr>
										  <td width='5' class='Estilo11'><div style='text-align:center;'><input type="radio" name="fpago"></div></td>
										</tr>
									  </table>                      </td>
									  <td><span class='Estilo1'>45 D&Iacute;AS </span></td>
									  <td width='35'><table width='57%' border='1' align='left' cellspacing='0'>
										<tr>
										  <td width='57' class='Estilo11'><div style='text-align:center;'><input type="radio" name="fpago"></div></td>
										</tr>
									  </table>                      </td>
									</tr>
								  </table></td>
								</tr>
								<tr>
								  <td><span class='Estilo1'>FECHA DE APROBACION </span></td>
								  <td colspan='9' onclick="make_visible(1)" ondblclick="make_invisible(1)"><input class="date_input" id="einput1"  type="date"></td>
								</tr>
								<tr>
								  <td colspan='2'><span class='Estilo1'>REQUSICION U ORDEN DE COMPRA No. </span></td>
								  <td width='404' colspan='8' class="writetd" contenteditable="true">&nbsp;</td>
								</tr>
								<tr>
								  <td colspan='10'>&nbsp;</td>
								</tr>
								<tr>
								  <td><span class='Estilo1'>PROVEEDOR SELECCIONADO </span></td>
								  <td colspan='9' class="writetd" contenteditable="true">&nbsp;</td>
								</tr>
								<tr>
								  <td><span class='Estilo1'>VALOR COMPRA APROBADO </span></td>
								  <td colspan='9' class="writetd" contenteditable="true">&nbsp;</td>
								</tr>
								<tr>
								  <td><span class='Estilo1'>FORMA DE PAGO </span></td>
								  <td colspan='9'><table width='333' border='0'>
									  <tr>
										<td width='70'><div ><span class='Estilo1'>CONTADO</span></div></td>
										<td width='44'><table width='57%' border='1' align='left' cellspacing='0'>
										  <tr>
											<td width='5' class='Estilo11'><div style='text-align:center;'><input type="radio" name="fpago2"></div></td>
										  </tr>
										</table></td>
										<td width='46'><span class='Estilo1'>30 D&Iacute;AS </span></td>
										<td width='55'><table width='42%' border='1' align='left' cellspacing='0'>
											<tr>
											  <td width='5' class='Estilo11'><div style='text-align:center;'><input type="radio" name="fpago2"></div></td>
											</tr>
										</table></td>
										<td width='60'><span class='Estilo1'>45 D&Iacute;AS </span></td>
										<td width='32'><table width='57%' border='1' align='left' cellspacing='0'>
											<tr>
											  <td width='20' class='Estilo11'><div style='text-align:center;'><input type="radio" name="fpago2"></div></td>
											</tr>
										</table></td>
									  </tr>
								  </table></td>
								</tr>
								<tr>
								  <td><span class='Estilo1'>FECHA DE APROBACION </span></td>
								  <td colspan='9' onclick="make_visible(2)" ondblclick="make_invisible(2)"><input class="date_input" id="einput2"  type="date"></td>
								</tr>
								<tr>
								  <td colspan='2'><span class='Estilo1'>REQUSICION U ORDEN DE COMPRA No. </span></td>
								  <td colspan='8' class="writetd" contenteditable="true">&nbsp;</td>
								</tr>
								<tr>
								  <td colspan='10'>&nbsp;</td>
								</tr>
					  </table>
				</td>
				  </tr>
				  <tr>
				  <td   align='left' colspan='6'><br/>
				  <table cellspacing='0' width='100%' align='left' border='1'>
							  <tr>
								<td width='97'><span class='Estilo1'>GERENTE GENERAL </span></td>
								<td width='235' class="writetd" contenteditable="true">&nbsp;</td>
								<td width='167'><span class='Estilo1'>FIRMA</span></td>
							  </tr>
							  <tr>
								<td rowspan='2'><span class='Estilo1'>DIRECCIóN ó AREA QUE SOLICITA LA COMPRA</span></td>
								<td><span class='Estilo1' class="writetd" contenteditable="true">Indicar &aacute;rea </span></td>
								<td rowspan='2'><span class='Estilo1'>FIRMA</span></td>
							  </tr>
							  <tr>
								<td class="writetd" contenteditable="true"><span class='Estilo1'>Nombre</span></td>
						</tr>
							  <tr>
								<td><span class='Estilo1'>DIRECCIÓN DE ADQUISICIONES </span></td>
								<td>&nbsp;</td>
								<td><span class='Estilo1'>FIRMA</span></td>
							  </tr>

					  </table>
				  </td>
				  </tr>
				</table>
			<input type="hidden" name="max_num_row" value="2">
			<input type="hidden" name="consecutivo" value="<?php echo $consecutivo ?>">		
			<button  id="document_save_button"  onclick="save_document()">Guardar</button>
			<button  id="addrow_button"  onclick="add_row()">Agregar Proveedor</button>
		</div>	
	</body>
 
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<script src="/Administrativo/views/js/editable_table.js"></script>
	<script src="/Administrativo/views/js/basicinput.js"></script>
	<script src="/Administrativo/views/js/save_document.js"></script>
	<script src="/Administrativo/views/js/comite_compras.js"></script>
	<script src="/Administrativo/views/js/comite_compras_addrow.js"></script>
	<script>
		var raiz_datos = [];
		
		<?php foreach($proveedores as $prov){ ?>
			try {
				raiz_datos.push("<?php echo str_replace('"', "", $prov->nombre); ?>");
			}catch(err) {
				console.log(err.message);
			}	
		<?php } ?>
		//console.log(raiz_datos);
	</script>
 
 </html>