<html>
	<meta http-equiv='Content-Type' content='text/html; charset=Windows-1252'>
		<style>
			body {margin-top: 30px; margin-left: 20px; margin-right: 20px; margin-bottom: 30px;font-family:arial;}
			td {margin-top: 1px; margin-left: 1px; margin-right: 1px; margin-bottom: 1px;font-size:$Tam_fuente;font-family:arial;}
		</style>
		<body> 
			 <?php echo cabecera_formato($Tipo,"FORMATO&nbsp;DEFINICION DE BIENES Y SERVICIOS",$Nconsecutivo) ?>
		&nbsp;
		<table border cellspacing='0' width='90%' align='center'>
			<tr><td style='font-size:<?php echo $Tam_Fuente; ?>' ><b>* ¿Para quién se está creando valor? Segmentación</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td></tr>
			<tr><td style='font-size:<?php echo $Tam_Fuente; ?>' ><b>* ¿Qué es el producto y/o servicio?</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td></tr>
			<tr><td style='font-size:<?php echo $Tam_Fuente; ?>' ><b>* ¿Qué NO es el producto y/o servicio?</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td></tr>
			<tr><td style='font-size:<?php echo $Tam_Fuente; ?>' ><b>* ¿Cuál es la oferta distintiva?</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td></tr>
			<tr><td style='font-size:<?php echo $Tam_Fuente; ?>' ><b>* ¿Qué acciones críticas se deben realizar para operar de manera exitosa?</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td></tr>
			<tr><td style='font-size:<?php echo $Tam_Fuente; ?>' ><b>* ¿Qué alianzas críticas se deben concretar para que el modelo sea exitoso?</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td></tr>
			<tr><td style='font-size:<?php echo $Tam_Fuente; ?>' ><b>* ¿Qué recursos se necesitan para generar la propuesta de valor, hacerla llegar al cliente, relacionarse con el cliente y generar ingresos?</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td></tr>
			<tr><td style='font-size:<?php echo $Tam_Fuente; ?>' ><b>* ¿Cuáles son los costos más relevantes del modelo?</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td></tr>
			<tr><td style='font-size:<?php echo $Tam_Fuente; ?>' ><b>* ¿Cuánto están dispuestos a pagar por la propuesta de valor?</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td></tr>
			<tr><td style='font-size:<?php echo $Tam_Fuente; ?>' ><b>* ¿Qué requisitos legales deben cumplirse para poder llevar a cabo el producto/servicio?</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td></tr>
			
		</table>
	</body>
</html>