<html>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="/Administrativo/views/js/jquery-2.1.3.js"></script>
	<meta http-equiv='Content-Type' content='text/html; charset=Windows-1252'>
	<style>
		td{
			font-size: 1.1em;
		}
	</style>
	<body>
		<div class="container">
			<table width='90%' class='table_image' border cellspacing='0' align='center'>
				<tr>
					<td width='20%' rowspan=3 align='center' valign='middle'>
						<img src='http://app.aoacolombia.com/Administrativo/img/nlogo_aoa_200.jpg' border='0' class='print_image' height='50' width='110'>
					</td>
					<td align='center' rowspan=3 width='50%'><b style='font-size:16px'><?php echo utf8_encode($Tipo->nombre) ?></b></td>
					<td width='30%' style='font-size:12px'>CODIGO: <?php echo $Tipo->codigo ?></td>
				</tr>
				<tr>
					<td style='font-size:12px'>VERSION: <?php echo $Tipo->version ?></td>
				</tr>
				<tr>
					<td style='font-size:10px'>FECHA DE VIGENCIA: <?php echo $Tipo->fecha_version //echo date('Y/m/d'); ?> </td>
				</tr>
			</table>
			<table border='0' cellspacing='0' cellpadding='0' width='90%' align='center'>
				<tr>
					<td width='20%'></td>
					<td align='center' style='font-size:8px;' width='50%'>
						<span id='subtitle'>Consecutivo Interno Número</span>:<?php echo $Nconsecutivo ?></td>
					<td width='30%'></td>
				</tr>
			</table>
			<!--cabecera-->
			<link rel="stylesheet" href="/Administrativo/views/css/styles1.css">
			&nbsp;
			<table border cellspacing='0' width='40%' >
				<tr>
					<td  width='50%' class='theader'><b>Fecha</b></td>
					<td class='writetd' onclick="make_visible(0)" ondblclick="make_invisible(0)"><input class="date_input" id="einput0"  type="date"></td>					
				</tr>
				<tr>
					<td  width='50%' class='theader'><b>Usuario</b></td>
					<td  contenteditable="true"></td>
				</tr>
				<tr>
					<td  width='50%' class='theader'><b>Serial PC</b></td>
					<td  contenteditable="true"></td>
				</tr>
				<tr>
					<td  width='50%' class='theader'><b>Hostname</b></td>
					<td  contenteditable="true"></td>
				</tr>
			</table>
			<table border cellspacing='0' width='100%'>
				<thead>
					<tr>
						<td  align='center' class='theader'><b>Item</b></td>
						<td  align='center' class='theader'><b>A instalar</b></td>
						<td  align='center' class='theader'><b>Instalado</b></td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Fondo de Pantalla</td>
						<td>
							<div  style="text-align:center">
								<input type="checkbox" class="form-control" >
							</div>
						</td>
						<td>
							<div  style="text-align:center">
								<input type="checkbox" class="form-control" >
							</div>
						</td>
					</tr>
					<tr>
						<td>Habilitar administrador</td>
						<td>
							<div style="text-align:center">
								<input type="checkbox" class="form-control">
							</div>
						</td>
						<td>
							<div  style="text-align:center">
								<input type="checkbox" class="form-control" >
							</div>
						</td>
					</tr>	
					<tr>
						<td>Asignar clave administrador de aoa</td>
						<td>
							<div style="text-align:center">
								<input type="checkbox" class="form-control">
							</div>
						</td>
						<td>
							<div  style="text-align:center">
								<input type="checkbox" class="form-control" >
							</div>
						</td>
					</tr>
					<tr>
						<td>Oficce</td>
						<td>
							<div style="text-align:center">
								<input type="checkbox" class="form-control">
							</div>
						</td>
						<td>
							<div  style="text-align:center">
								<input type="checkbox" class="form-control" >
							</div>
						</td>
					</tr>
					<tr>
						<td>Impresora piso 1</td>
						<td>
							<div style="text-align:center">
								<input type="checkbox" class="form-control">
							</div>
						</td>
						<td>
							<div  style="text-align:center">
								<input type="checkbox" class="form-control" >
							</div>
						</td>
					</tr>
					<tr>
						<td>Impresora piso 2</td>
						<td>
							<div style="text-align:center">
								<input type="checkbox" class="form-control">
							</div>
						</td>
						<td>
							<div  style="text-align:center">
								<input type="checkbox" class="form-control" >
							</div>
						</td>
					</tr>
					<tr>
						<td>Impresora piso 3</td>
						<td>
							<div style="text-align:center">
								<input type="checkbox" class="form-control">
							</div>
						</td>
						<td>
							<div  style="text-align:center">
								<input type="checkbox" class="form-control" >
							</div>
						</td>
					</tr>
					<tr>
						<td>Impresora taller</td>
						<td>
							<div style="text-align:center">
								<input type="checkbox" class="form-control">
							</div>
						</td>
						<td>
							<div  style="text-align:center">
								<input type="checkbox" class="form-control" >
							</div>
						</td>
					</tr>
					<tr>
						<td>Chrome</td>
						<td>
							<div style="text-align:center">
								<input type="checkbox" class="form-control">
							</div>
						</td>
						<td>
							<div  style="text-align:center">
								<input type="checkbox" class="form-control" >
							</div>
						</td>
					</tr>
					<tr>
						<td>Firefox</td>
						<td>
							<div style="text-align:center">
								<input type="checkbox" class="form-control">
							</div>
						</td>
						<td>
							<div  style="text-align:center">
								<input type="checkbox" class="form-control" >
							</div>
						</td>
					</tr>					
					<tr>
						<td>Zoiper</td>
						<td>
							<div style="text-align:center">
								<input type="checkbox" class="form-control">
							</div>
						</td>
						<td>
							<div  style="text-align:center">
								<input type="checkbox" class="form-control" >
							</div>
						</td>
					</tr>
					<tr>
						<td>Vpn</td>
						<td>
							<div style="text-align:center">
								<input type="checkbox" class="form-control">
							</div>
						</td>
						<td>
							<div  style="text-align:center">
								<input type="checkbox" class="form-control" >
							</div>
						</td>
					</tr>
					<tr>
						<td>Antivirus</td>
						<td>
							<div style="text-align:center">
								<input type="checkbox" class="form-control">
							</div>
						</td>
						<td>
							<div  style="text-align:center">
								<input type="checkbox" class="form-control" >
							</div>
						</td>
					</tr>
					<tr>
						<td>Bckup</td>
						<td>
							<div style="text-align:center">
								<input type="checkbox" class="form-control">
							</div>
						</td>
						<td>
							<div  style="text-align:center">
								<input type="checkbox" class="form-control" >
							</div>
						</td>
					</tr>
					<tr>
						<td>Synology Chat</td>
						<td>
							<div style="text-align:center">
								<input type="checkbox" class="form-control">
							</div>
						</td>
						<td>
							<div  style="text-align:center">
								<input type="checkbox" class="form-control" >
							</div>
						</td>
					</tr>
					<tr>
						<td>Sistema uno</td>
						<td>
							<div style="text-align:center">
								<input type="checkbox" class="form-control">
							</div>
						</td>
						<td>
							<div  style="text-align:center">
								<input type="checkbox" class="form-control" >
							</div>
						</td>
					</tr>
					<tr>
						<td>Skype</td>
						<td>
							<div style="text-align:center">
								<input type="checkbox" class="form-control">
							</div>
						</td>
						<td>
							<div  style="text-align:center">
								<input type="checkbox" class="form-control" >
							</div>
						</td>
					</tr>
					<tr>
						<td contenteditable="true" style="color:black;"><span style="color:gray;">Software 1</span></td>
						<td>
							<div style="text-align:center">
								<input type="checkbox" class="form-control">
							</div>
						</td>
						<td>
							<div  style="text-align:center">
								<input type="checkbox" class="form-control" >
							</div>
						</td>
					</tr>
					<tr>
						<td contenteditable="true" style="color:black;"><span style="color:gray;">Software 2</span></td>
						<td>
							<div style="text-align:center">
								<input type="checkbox" class="form-control">
							</div>
						</td>
						<td>
							<div  style="text-align:center">
								<input type="checkbox" class="form-control" >
							</div>
						</td>
					</tr>					
					<tr>
						<td colspan="3" align='center' class='theader'>Usuarios</td>
					</tr>
					<tr>
						<td>Vicidial</td>
						<td>
							<div style="text-align:center">
								<input type="checkbox" class="form-control">
							</div>
						</td>
						<td>
							<div  style="text-align:center">
								<input type="checkbox" class="form-control" >
							</div>
						</td>
					</tr>
					<tr>
						<td>Sistema uno</td>
						<td>
							<div style="text-align:center">
								<input type="checkbox" class="form-control">
							</div>
						</td>
						<td>
							<div  style="text-align:center">
								<input type="checkbox" class="form-control" >
							</div>
						</td>
					</tr>
					<tr>
						<td>Control</td>
						<td>
							<div style="text-align:center">
								<input type="checkbox" class="form-control">
							</div>
						</td>
						<td>
							<div  style="text-align:center">
								<input type="checkbox" class="form-control" >
							</div>
						</td>
					</tr>
					<tr>
						<td>Administración</td>
						<td>
							<div style="text-align:center">
								<input type="checkbox" class="form-control">
							</div>
						</td>
						<td>
							<div  style="text-align:center">
								<input type="checkbox" class="form-control" >
							</div>
						</td>
					</tr>
					<tr>
						<td>Correo</td>
						<td>
							<div style="text-align:center">
								<input type="checkbox" class="form-control">
							</div>
						</td>
						<td>
							<div  style="text-align:center">
								<input type="checkbox" class="form-control" >
							</div>
						</td>
					</tr>
					<tr>
						<td>Elastix</td>
						<td>
							<div style="text-align:center">
								<input type="checkbox" class="form-control">
							</div>
						</td>
						<td>
							<div  style="text-align:center">
								<input type="checkbox" class="form-control" >
							</div>
						</td>
					</tr>
					<tr>
						<td>Usuario de mesa de ayuda</td>
						<td>
							<div style="text-align:center">
								<input type="checkbox" class="form-control">
							</div>
						</td>
						<td>
							<div  style="text-align:center">
								<input type="checkbox" class="form-control" >
							</div>
						</td>
					</tr>
					<tr>
						<td>Asignación de equipo en mesa de ayuda</td>
						<td>
							<div style="text-align:center">
								<input type="checkbox" class="form-control">
							</div>
						</td>
						<td>
							<div  style="text-align:center">
								<input type="checkbox" class="form-control" >
							</div>
						</td>
					</tr>
					<tr>
						<td contenteditable="true" style="color:black;"><span style="color:gray;">Cambio de hostname</span></td>
						<td>
							<div style="text-align:center">
								<input type="checkbox" class="form-control">
							</div>
						</td>
						<td>
							<div  style="text-align:center">
								<input type="checkbox" class="form-control" >
							</div>
						</td>
					</tr>
					<tr>
						<td contenteditable="true" style="color:black;"><span style="color:gray;">Conf de contraseña y hibernación</span></td>
						<td>
							<div style="text-align:center">
								<input type="checkbox" class="form-control">
							</div>
						</td>
						<td>
							<div  style="text-align:center">
								<input type="checkbox" class="form-control" >
							</div>
						</td>
					</tr>
					<tr>
						<td contenteditable="true" style="color:black;"><span style="color:gray;">Acta de entrega</span></td>
						<td>
							<div style="text-align:center">
								<input type="checkbox" class="form-control">
							</div>
						</td>
						<td>
							<div  style="text-align:center">
								<input type="checkbox" class="form-control" >
							</div>
						</td>
					</tr>
					<tr>
						<td contenteditable="true" style="color:black;"><span style="color:gray;">Otro </span></td>
						<td>
							<div style="text-align:center">
								<input type="checkbox" class="form-control">
							</div>
						</td>
						<td>
							<div  style="text-align:center">
								<input type="checkbox" class="form-control" >
							</div>
						</td>
					</tr>								
					<tr>
						<td colspan="3" align='center' class='theader'>Comentarios</td>
					</tr>
					<tr>
						<td height="50px" colspan="3" contenteditable="true"></td>
					</tr>
				</tbody>
			</table>
			<br><br>
			<table  width="100%">
				<tr>
					<td>Dirección de tecnologia y planeación</td>
					<td>_______________________________</td>
					<td>Tecnico</td>
					<td>_______________________________</td>
					<td>Usuario</td>
					<td>_______________________________</td>
				</tr>
			</table>
			
			<input type="hidden" name="consecutivo" value="<?php echo $consecutivo ?>">	
			<input type="hidden">
			<button id="document_save_button" onclick="save_document()">Guardar</button>
		</div>
	</body>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
		<script src="/Administrativo/views/js/editable_table.js"></script>
		<script src="/Administrativo/views/js/basicinput.js"></script>
		<script src="/Administrativo/views/js/save_document.js"></script>
		<script>
			function this_visible(element){
				console.log("click");
				$(element).hide();
			}
			
			function this_invisible(element){
				console.log("doble click");
				$(element).show();
			}
		</script>
</html>