<html>
	<meta http-equiv='Content-Type' content='text/html; charset=Windows-1252'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="/Administrativo/views/js/jquery-2.1.3.js"></script>
		<style>
			td{
				font-size: <?php echo $Tam_Fuente ?>; 
			}
	</style>
	<table width='90%' class='table_image' border cellspacing='0' align='center'>
		<tr>
			<td width='20%' rowspan=3 align='center' valign='middle'>
				<img src='http://app.aoacolombia.com/Administrativo/img/nlogo_aoa_200.jpg' border='0' class='print_image' height='50' width='110'>
			</td>
			<td align='center' rowspan=3 width='50%'><b style='font-size:16px'><?php echo utf8_encode($Tipo->nombre) ?></b></td>
			<td width='30%' style='font-size:12px'>CODIGO: <?php echo $Tipo->codigo ?></td>
		</tr>
		<tr>
			<td style='font-size:12px'>VERSION: <?php echo $Tipo->version ?></td>
		</tr>
		<tr>
			<td style='font-size:10px'>FECHA DE VIGENCIA: <?php echo $Tipo->fecha_version //echo date('Y/m/d'); ?> </td>
		</tr>
	</table>
	<table border='0' cellspacing='0' cellpadding='0' width='90%' align='center'>
		<tr>
			<td width='20%'></td>
			<td align='center' style='font-size:8px;' width='50%'>
				<span id='subtitle'>Consecutivo Interno Número</span>:<?php echo $Nconsecutivo ?></td>
			<td width='30%'></td>
		</tr>
	</table>
		<!--cabecera-->
	<link rel="stylesheet" href="/Administrativo/views/css/styles1.css">

		<table border cellspacing='0' width='100%' align='center'>
			<tr>
				<td colspan=2 align='left' class='theader' width='28%' colspan=2>FECHA DEL ANTICIPO:</td>
				<td colspan=2 width='20%' onclick="make_visible(0)" ondblclick="make_invisible(0)"><input class="date_input" id="einput0"  type="date"></td>
				<!--<td  align='center' class='theader'>CONSECUTIVO CONTABLE</td>
				<td  align='center' contenteditable="true"></td>-->
			</tr>
			
			<tr>
				<td  colspan='5' align='center' class='theader'><b>BENEFICIARIO DEL ANTICIPO</b></td>
			</tr>
			<tr>
				<td   class='theader'>NOMBRE</td>
				<td colspan=4 contenteditable="true"></td>
			</tr>
			<tr>
				<td   class='theader' colspan="2">DOCUMENTO DE IDENTIFICACIÓN:</td>
				<td contenteditable="true" colspan="3"> </td>				
			</tr>
			<tr>
				<td class='theader' colspan="2">CIUDAD:</td>
				<td width='25%' contenteditable="true" colspan="3"> </td>
			</tr>
			<tr>
				<td  colspan='5' align='center' class='theader'><b>RESPONSABLE DEL ANTICIPO</b></td>
			</tr>
			<tr>
				<td   class='theader'>NOMBRE</td>
				<td colspan=4 contenteditable="true"></td>
			</tr>
			<tr>
				<td   class='theader' colspan="2">DOCUMENTO DE IDENTIFICACIÓN:</td>
				<td contenteditable="true" colspan="3"> </td>				
			</tr>
			<tr>
				<td class='theader' colspan="2">CIUDAD:</td>
				<td width='25%' contenteditable="true" colspan="3"> </td>
			</tr>
			<tr>
				<td class='theader' colspan="2">CARGO:</td>
				<td width='25%' contenteditable="true" colspan="3"> </td>
			</tr>
			<tr>
				<td   align='center' class='theader'><b>CENTROS DE COSTOS</b></td>
				<td contenteditable="true"></td>
				<td   align='center' class='theader'><b>CENTROS DE OPERACIÓN</b></td>
				<td colspan='2' width="25%" contenteditable="true"></td>
			</tr>
			
			<tr><td  colspan='5' align='center' class='theader'><b>SOLICITUD DE ANTICIPO PARA</b></td></tr>
			<tr><td  colspan='5' contenteditable="true"><br><br><br><br></td></tr>
			<tr><td  colspan='3' class='theader'>VALOR SOLICITADO:</td><td contenteditable="true"> </td></tr>
		
			<tr><td  colspan='5' align='center' class='theader'><b>ESPECIFICACIONES DEL ANTICIPO</b></td></tr>
			<tr>
				<td  align='center' class='theader'>ITEM</td>
				<td  align='center' class='theader'>VALOR</td>
				<td   align='center' colspan=3 class='theader'>DESCRIPCION</td>
			</tr>
			<tr><td contenteditable="true" width="5%"></td><td contenteditable="true"></td><td colspan=3 contenteditable="true"></td></tr>
			<tr><td contenteditable="true" align='center'></td><td contenteditable="true"></td><td colspan=3 contenteditable="true"></td></tr>
			<tr><td contenteditable="true" align='center'></td><td contenteditable="true"></td><td colspan=3 contenteditable="true"></td></tr>
			<tr><td contenteditable="true" align='center'></td><td contenteditable="true"></td><td colspan=3 contenteditable="true"></td></tr>
			<tr><td contenteditable="true" align='center'></td><td contenteditable="true"></td><td colspan=3 contenteditable="true"></td></tr>
			<tr><td contenteditable="true" align='center'></td><td contenteditable="true"></td><td colspan=3 contenteditable="true"></td></tr>
			<tr><td contenteditable="true" align='center'></td><td contenteditable="true"></td><td colspan=3 contenteditable="true"></td></tr>
			<tr id="add_after_this"> <td   align='center'>
			
			<input type="text" id="nombre" name="nombre" value="">
			</td>
			<td contenteditable="true"></td><td colspan=3 contenteditable="true"></td></tr>
			<tr>
				<td   align='center' colspan='5'>
					<i>En la Fecha y con el presente documento recibo de ADMINISTRACION OPERATIVA AUTOMOTRIZ S.A.S., la suma indicada que será destinada exclusivamente para cubrir los gastos solicitados anteriormente.<br>																				
																				
Cuando los gastos incurridos y soportados sean inferiores al anticipo recibido reintegrare de inmediato el saldo a favor de la empresa y adjuntare a la relación de gastos el recibo de caja.

En el evento de no presentar oportunamente la relación de la compra o no hacerlo o hacerlo en parte, autorizo a ADMINISTRACION OPERATIVA AUTOMOTRIZ S.A.S. para descontar, retener y/o compensar de mi salario, el valor total del anticipo que me fue entregado o el que me faltare por legalizar.  Del mismo modo, en caso de terminación del contrato de trabajo por cualquier causa, autorizo para que se me descuente, retenga y/o compense de mi salario y liquidación final de acreencias laborales (sin distinción de concepto), el valor total del anticipo que me fue entregado o el que me faltare por legalizar.

Igualmente me comprometo con la empresa a utilizar correctamente el anticipo recibido. En caso de no utilizarlo para los objetivos informados o no legalizarlo de manera oportuna o no hacerlo o hacerlo en parte, las partes acuerdan que este incumplimiento será falta grave y por lo tanto, justa causa para terminar el contrato de trabajo.
																				
																				
																				
																				

					</i>
				</td>
			</tr>			
		</table>
		<table border cellspacing='0' width='100%' align='center'>
			<tr>
				<td class='theader' width="25%">Elaborado por:</td>
				<td contenteditable="true"></td>				
				<td class='theader' width="25%">Autorizado por:</td>
				<td contenteditable="true"></td>
			</tr>
			<tr>
				<td class='theader'>Nombre</td>
				<td contenteditable="true"></td>				
				<td class='theader'>Nombre</td>
				<td contenteditable="true"></td>
			</tr>
			<tr>
				<td class='theader'>Cargo</td>
				<td contenteditable="true"></td>				
				<td class='theader'>Cargo</td>
				<td contenteditable="true"></td>
			</tr>
			<tr>
				<td class='theader'>Firma</td>
				<td>
					<br><br>
				</td>				
				<td class='theader'>Firma</td>
				<td>
					<br><br>
				</td>
			</tr>			
		</table>
		<input type="hidden" name="consecutivo" value="<?php echo $consecutivo ?>">	
		<input type="hidden" name="max_num_row" value="9">
		<button  id="document_save_button"  onclick="save_document()">Guardar</button>
		<button  id="addrow_button"  onclick="add_row()">Agregar Linea</button>
		
		
	</body>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<script src="/Administrativo/views/js/editable_table.js"></script>
	<script src="/Administrativo/views/js/basicinput.js"></script>
	<script src="/Administrativo/views/js/save_document.js"></script>
	<script src="/Administrativo/views/js/solicitud_anticipo_addrow.js"></script>
</html>