<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" type="image/png" href="assets/img/icon.png" />
  <title>CLIENTES AOA</title>
  <!-- Bootstrap core CSS-->
  <link href="https://sac.aoacolombia.com/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="https://sac.aoacolombia.com/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="https://sac.aoacolombia.com/css/sb-admin.css" rel="stylesheet">

</head>

<style>
  
  body {
    background-image: url("https://sac.aoacolombia.com/Images/enterprise.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;
    background-position: left;
    background-size: 100% 100%;  
  }

</style>

<body class="">
  <style>
    .btn:hover{
      background-color: #0B610B!important;
    }
    .log_btn{
       background-color: #0A0A2A !important; border-color: #0A0A2A; color:white;
    }
  </style>
  <div class="container">

    <br>
    <br>
    <div class="text-center">
      <image src="https://sac.aoacolombia.com/assets/img/icon.png" class="img-responsive center-block">
    </image>
      <br>
      <br>
    <div class="card card-login mx-auto mt-5 pull-right;">
      <div class="card-header" style="background-color: #0B610B!important; "><b>Opps ¡Algo sucedio!</b></div>
      <div class="card-body" style="background-color: #97af00!important; ">
			<?php echo $message; ?>    
      </div>
    </div>

   
  </div>
  <!-- Bootstrap core JavaScript-->
  <script src="https://sac.aoacolombia.com/vendor/jquery/jquery.min.js"></script>
  <script src="https://sac.aoacolombia.com/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="https://sac.aoacolombia.com/vendor/jquery-easing/jquery.easing.min.js"></script>
</body>

</html>
 